@page "/"

<PageTitle>Home</PageTitle>


<h1 class="text-red-300">Hello, world!!!</h1>

<div class="flex bg-blue-500">
    <div class="w-14 flex-none ...">01</div>
    <div class="w-64 flex-1 ...">02</div>
    <div class="w-32 flex-1 ...">03</div>
</div>


<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
Welcome to your new app.
