<nav class="flex flex-col space-y-1">
    <NavLink class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900" href="Account/Manage" Match="NavLinkMatch.All">
        Profile
    </NavLink>
    <NavLink class="rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900" href="Account/Manage/ChangePassword">
        Password
    </NavLink>
</nav>
